
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../../Content/bootstrap-select.min.css" rel="stylesheet" />
    <script src="../../../Scripts/jquery-3.4.1.min.js"></script>
    <link href="../../Content/datetimepicker.css" rel="stylesheet" />
    <script src="../../../Scripts/bootstrap.min.js"></script>
    <script src="../../../Scripts/bootstrap-select.min.js"></script>
    <script src="../../Scripts/datetimepicker/moment.js"></script>
    <script src="../../Scripts/datetimepicker/bootstrap-datetimepicker.js"></script>
    <title>考勤、支付信息修改</title>
    <style>
        .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
            width: 7em;
        }
    </style>
</head>
<body>
    <div id="main" class="container-fluid" style="width:100%;float:left;">

        <script src="../GetChangingHeight.js"></script>

        <div clase="col-lg-6 col-ms-8 col-xs-10" style="margin:2% 2%;font-size:1.45em;font-weight:500;line-height:1.9em;">

            <span>日期：</span>
            <div class="iDate date" style="width:8em">
                <input id="date" type="text">
                <button type="button" class="addOn"></button>
            </div>
            <script>
                if ($(".iDate.date").length > 0) {
                    $(".iDate.date").datetimepicker({
                        locale: "zh-cn",
                        format: "YYYY-MM-DD",
                        dayViewHeaderFormat: "YYYY年 MMDD"
                    });
                };
                let time = new Date().getTime() - 24 * 60 * 60 * 1000;
                let yesday = new Date(time);
                let month = yesday.getMonth();//0-11
                if (month < 9) {
                    month = '0' + (month + 1);
                }
                else {
                    month = month + 1;
                }
                let day = yesday.getDate();//1-31
                if (day < 9) {
                    day = '0' + day;
                }
                yesday = yesday.getFullYear() + '-' + month + '-' + day;
                $("#date").val(yesday);
            </script>
            &nbsp; &nbsp;
            <span style="font-size:1em;">姓名：</span>
            <select class="selectpicker" id="selectName">
            </select> &nbsp; &nbsp;

            <span style="font-size:1em;">工地：</span>
            <select class="selectpicker" id="selectWorkSite">
            </select>&nbsp; &nbsp;
            <div class="row" style="margin-top:5%;margin-bottom:1%;">
                <div style="margin-right:20%; text-align: center;margin-bottom:2% ">
                    <span style="font-size:1em;color:red;">尤其注意修改某天某人工日情况时，</span>
                    <span style="font-size:1em;color:red;">通过“菜单-数据管理-录入数据稽核”核实，对修改人某天所有工日进行核实（1天1人仅能改1次）。</span>
                    <span style="font-size:1em;color:red;">不是直接更新，只是记录到Remark不是工作记录代表的WorkQuality。二次修改确认后才真正修改成功</span>
                </div>
                <div style="margin-right:20%; text-align: center ">
                    <span style="font-size:2em;font-weight:600;">考勤修改</span>
                    <br><br>
                </div>

                <div class="form-inline" style="margin:0 auto; margin-left:15%;">
                    <span style="font-size:1em;">当天工日：</span>
                    <input type="text" id="work" class="form-control" onblur="check(this)" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')" style="width:6em;" value="1" placeholder="当天工日">&nbsp; &nbsp;
                    <span style="font-size:1em;">加班：</span>
                    <input type="text" id="workMore" class="form-control" onblur="check(this)" onkeyup="this.value=this.value.replace(/[^0-9.]/g,'')" style="width: 10em;" value="0" placeholder="加班">&nbsp; &nbsp;
                    <span style="font-size:1em;">备注：</span>
                    <textarea type="text" id="remark" class="form-control" style="width: 20em;" placeholder="工作日志（20字左右）" rows="3"></textarea>
                </div>
                <br>
                <div style="margin-right:20%; text-align: center ">
                    <button type="button" class="btn-primary" onclick="workDataUpdate()">考勤数据修改</button>&nbsp; &nbsp;&nbsp; &nbsp;

                </div>


            </div>
            <br>


        </div>

    </div>

    <script>

        const optoinUrl = '/api/ImPort/GetBasicInfo';
        const dataUrl = '/api/ImPort/GetUpdateWork';
        //验证文本框只能输入数字和小数点
        function check(e) {
            let re = /^\d+(?=\.{0,1}\d+$|$)/
            if (e.value != "") {
                if (!re.test(e.value)) {
                    alert("请输入正确的数字");
                    e.value = "";
                    e.focus();
                }
            }
        }
        //加载人员和工地
        function loadWork() {
            $.ajax({
                url: optoinUrl, //所需要的列表接口地址
                type: "get",
                dataType: "json",
                success: function (data) {

                    let listNames = "";
                    for (let i = 0; i < data[0].length; i++) {
                        listNames += "<option value='" + data[0][i] + "'>" + data[0][i] + "</option>";
                    }
                    $("#selectName").append(listNames);//append 添加进去并展示
                    //不能删下面俩行不然在ie下有问题
                    $('#selectName').selectpicker('refresh');
                    $('#selectName').selectpicker('render');

                    let listWorkSites = "";
                    for (let i = 0; i < data[1].length; i++) {
                        listWorkSites += "<option value='" + data[1][i] + "'>" + data[1][i] + "</option>";
                    }
                    $("#selectWorkSite").append(listWorkSites);
                    $('#selectWorkSite').selectpicker('refresh');
                    $('#selectWorkSite').selectpicker('render');
                },
                error: function (e) {
                    console.log(e.responseText);
                }
            });
        }
        loadWork();

        //工人工作记录导入
        function workDataUpdate() {
            let selectName = $('#selectName').selectpicker('val');
            let date = $('#date').val();
            let selectWorkSite = $('#selectWorkSite').val();
            let work = $('#work').val();
            let workMore = $('#workMore').val();
            let remark = $('#remark').val();
            $.ajax({
                url: dataUrl, //所需要的列表接口地址
                type: "get",
                data: {
                    'name': selectName, 'date': date, 'selectWorkSite': selectWorkSite,
                    'work': work, 'workMore': workMore, 'remark': remark
                },//发送到服务器的数据，key/value形式
                dataType: "json",
                success: function (data) {

                    if (data == 'ok') {
                        alert('数据已经更新');
                        //删除Select选中value
                        //$("#selectName option[value="+selectName+"]").remove();
                    } else if (data == 'error') {
                        alert('该工人当天在此工地没有已记录数据');
                    }

                },
                error: function (e) {
                    console.log(e.responseText);
                }
            });
        }


        function urlSkip() {


            let unid = "ModifySec";
            let url = 'ImportData/ModifySecConfirm.html'
            let title = '考勤修改二次确认';
            parent.addTabWithParams(unid, title, url);

            //let param = [];
            //param.push(rname + "_" + dire);
            //在iframe中调用父页面中定义的变量
            //alert(parent.value);
            //在iframe中调用父页面中定义的方法
            //parent.addTabWithParams(unid, title, url, param);

        }

    </script>


</body>

</html>
